<p style='text-align: center; font-size: 18px'><b>Bonjour {{ data.prenom }}</b>,</p><br/>
<p style='text-align: center'><i><b><a class='btn btn-success'
                                       href='{{ data.domain ~ path('check_account', {id: data.id, token: data.token}) }}'>Cliquez
                ici pour valider votre compte Games Market</a></b></i></p><br/>
<p style='text-align: center'><b>Si ce n'est pas vous, veuillez <U>ignorer</U> ce mail !</b></p><br/>
<p style='text-align: center; font-size: 18px'>A très bientôt !</p><br/>
<p style='text-align: center; font-size: 18px'><b>L'équipe Games Market</b></p><br/>