<p style="text-align: center; font-size: 18px">
    <b>Bonjour {{ data.prenom }}</b>,
</p>
<br>
<p style="text-align: center">
    <i>
        <b>
            {% set keys = data.courriel|keys %}
            <a class="btn btn-success"
               href="{{ absolute_url(path('index')) | trim('/', 'right') ~ path('check_account', {id: data.id, token: data.token}) }}">
                Cliquez ici pour valider votre compte {{ data.courriel[keys[0]] }}
            </a>
        </b>
    </i>
</p>
<br>
<p style="text-align: center">
    <b>Si ce n'est pas vous, veuillez <U>ignorer</U> ce mail !</b>
</p>
<br>
<p style="text-align: center; font-size: 18px">
    A très bientôt !
</p>
<br>
<p style="text-align: center; font-size: 18px">
    <b>L'équipe {{ data.courriel[keys[0]] }}</b>
</p>