<script>
    $(document).ready(function () {
        toastr.options.progressBar = true;

        $(document).on('click', '.ajout_panier', function (e) {
            let idProduit = $(this).attr("idProduit");
            let libelle = $(this).attr("libelle");

            let idPlateforme = $(this).attr("idPlateforme");
            if (idPlateforme === undefined) {
                idPlateforme = $('input[type="radio"]:checked').attr("idPlateforme");
            }

            let libellePlateforme = $(this).attr("libellePlateforme");
            if (libellePlateforme === undefined) {
                libellePlateforme = $('input[type="radio"]:checked').attr("libellePlateforme");
            }

            let libelleTypeProduit = $(this).attr("libelleTypeProduit");

            $.ajax({
                method: 'POST',
                url: '{{ path('add_panier') }}',
                data: {idProduit: idProduit, idPlateforme: idPlateforme},
                success: function (data) {
                    if (data.success === true) {
                        let plateforme = libelleTypeProduit != undefined ? ' (' + libellePlateforme + ')' : '';
                        toastr.success('Vous avez ajouté ' + libelle + plateforme + ' au panier !');

                        qte_panier = data.panier.quantite;

                        $('.contenu_panier').html(qte_panier);
                        $('.contenu_panier_mobile').html(qte_panier);

                        let contenu_panier = $('ul.dropdown-menu.dropdown-cart.text-center');
                        let data_panier = '';

                        if (!contenu_panier.length) {
                            data_panier += '<ul class="dropdown-menu dropdown-cart text-center" style="width: 400px;" role="menu">';
                        }

                        data.panier.contenu.forEach(produit => {
                            plateforme = produit.idProduit.idTypeProduit.libelle != 'Consoles' ? '<span class="badge ' + produit.idPlateforme.couleur + '">' + produit.idPlateforme.libelle + '</span> ' : '';
                            qte = produit.quantite > 1 ? ' (×' + produit.quantite + ')' : '';
                            typeProduit = produit.idProduit.idTypeProduit.libelle != 'Consoles' ? 'libelleTypeProduit=' + produit.idProduit.idTypeProduit.libelle : '';

                            data_panier += '<li>' +
                                '<span class="item">' +
                                '<span class="item-left padding_recap">' +
                                plateforme +
                                produit.idProduit.libelle +
                                qte +
                                ' - ' + Math.round(produit.prix * produit.quantite * 100) / 100 + '&euro;' +
                                '</span>' +
                                '<span class="item-right">' +
                                '<a href="#" class="btn btn-xs btn-danger pull-right supprimer_panier" idProduit="' + produit.idProduit.id + '" idPlateforme="' + produit.idPlateforme.id + '" libelle="' + produit.idProduit.libelle + '" libellePlateforme="' + produit.idPlateforme.libelle + '" ' + typeProduit + '>&times;</a>' +
                                '</span>' +
                                '</span>' +
                                '</li>';
                        });

                        data_panier += '<br><a class="btn btn-primary" href="{{ path('panier') }}">Afficher le panier</a>';

                        if (!contenu_panier.length) {
                            data_panier += '</ul>';

                            let menuPanier = $('#menuPanier');
                            menuPanier.html(menuPanier.html() + data_panier);
                        } else {
                            contenu_panier.html(data_panier);
                        }
                    } else {
                        let plateforme = libelleTypeProduit != undefined ? ' (' + libellePlateforme + ')' : '';
                        toastr.error('Erreur lors de l\'ajout ' + libelle + plateforme + ' au panier !');
                    }
                }
            })
            return false;
        });

        $(document).on('click', '.supprimer_panier', function (e) {
            let idProduit = $(this).attr("idProduit");
            let libelle = $(this).attr("libelle");
            let idPlateforme = $(this).attr("idPlateforme");
            let libellePlateforme = $(this).attr("libellePlateforme");
            let libelleTypeProduit = $(this).attr("libelleTypeProduit");

            $.ajax({
                method: 'POST',
                url: '{{ path('remove_panier') }}',
                data: {idProduit: idProduit, idPlateforme: idPlateforme},
                success: function (data) {
                    if (data.success === true) {
                        let plateforme = libelleTypeProduit != undefined ? ' (' + libellePlateforme + ')' : '';
                        toastr.success('Vous avez supprimé ' + libelle + plateforme + ' du panier !');

                        qte_panier = data.panier.quantite;

                        $('.contenu_panier').html(qte_panier);
                        $('.contenu_panier_mobile').html(qte_panier);

                        let contenu_panier = $('ul.dropdown-menu.dropdown-cart.text-center');
                        let data_panier = '';

                        if (data.panier.quantite == 0) {
                            contenu_panier.remove();
                        } else {
                            data.panier.contenu.forEach(produit => {
                                plateforme = produit.idProduit.idTypeProduit.libelle != 'Consoles' ? '<span class="badge ' + produit.idPlateforme.couleur + '">' + produit.idPlateforme.libelle + '</span> ' : '';
                                qte = produit.quantite > 1 ? ' (×' + produit.quantite + ')\n' : '';
                                typeProduit = produit.idProduit.idTypeProduit.libelle != 'Consoles' ? 'libelleTypeProduit=' + produit.idProduit.idTypeProduit.libelle : '';

                                data_panier += '<li>' +
                                    '<span class="item">' +
                                    '<span class="item-left padding_recap">' +
                                    plateforme +
                                    produit.idProduit.libelle +
                                    qte +
                                    ' - ' + Math.round(produit.prix * produit.quantite * 100) / 100 + '&euro;' +
                                    '</span>' +
                                    '<span class="item-right">' +
                                    '<a href="#" class="btn btn-xs btn-danger pull-right supprimer_panier" idProduit="' + produit.idProduit.id + '" idPlateforme="' + produit.idPlateforme.id + '" libelle="' + produit.idProduit.libelle + '" libellePlateforme="' + produit.idPlateforme.libelle + '" ' + typeProduit + '>&times;</a>' +
                                    '</span>' +
                                    '</span>' +
                                    '</li>';
                            });

                            data_panier += '<br><a class="btn btn-primary" href="{{ path('panier') }}">Afficher le panier</a>';
                            contenu_panier.html(data_panier);
                        }
                    } else {
                        let plateforme = libelleTypeProduit != undefined ? ' (' + libellePlateforme + ')' : '';
                        toastr.error('Erreur lors de la suppression de ' + libelle + plateforme + ' du panier !');
                    }
                }
            })
            return false;
        });
    });
</script>