{% extends 'base.html.twig' %}

{% block title %}Edit Habiter{% endblock %}

{% block body %}
    <h1>Edit Habiter</h1>

    {{ include('habiter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('habiter_index') }}">back to list</a>

    {{ include('habiter/_delete_form.html.twig') }}
{% endblock %}
