{% extends 'base.html.twig' %}

{% block title %}New TypeCodePromo{% endblock %}

{% block body %}
    <h1>Create new TypeCodePromo</h1>

    {{ include('type_code_promo/_form.html.twig') }}

    <a href="{{ path('type_code_promo_index') }}">back to list</a>
{% endblock %}
