{% extends 'base_administration.html.twig' %}

{% block body %}
    <h1>Editer un utilisateur</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour l\'utilisateur'}) }}

    <a class="btn btn-primary" href="{{ path('utilisateur_index') }}">Retour à la liste</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
