{% extends 'base.html.twig' %}

{% block title %}Edit Propriete{% endblock %}

{% block body %}
    <h1>Edit Propriete</h1>

    {{ include('propriete/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('propriete_index') }}">back to list</a>

    {{ include('propriete/_delete_form.html.twig') }}
{% endblock %}
